# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [15]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

In [16]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

### Step 3. Assign it to a variable called iris

In [17]:
iris = pd.read_csv(url,header=None)
iris

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

### Step 4. Create columns for the dataset

In [18]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class
iris.columns = ['sepal_length (in cm)', 'sepal_width (in cm)', 'petal_length (in cm)', 'petal_width (in cm)', 'class']
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

### Step 5.  Is there any missing value in the dataframe?

In [19]:
iris.isnull().sum()

sepal_length (in cm)    0
sepal_width (in cm)     0
petal_length (in cm)    0
petal_width (in cm)     0
class                   0
dtype: int64

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [20]:
iris['sepal_length (in cm)'][10:30] = pd.NA
iris[10:30]

C:\Users\u1126257\AppData\Local\Temp\ipykernel_12284\1737545453.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris['sepal_length (in cm)'][10:30] = pd.NA

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
10,<NA>,3.7,1.5,0.2,Iris-setosa
11,<NA>,3.4,1.6,0.2,Iris-setosa
12,<NA>,3.0,1.4,0.1,Iris-setosa
13,<NA>,3.0,1.1,0.1,Iris-setosa
14,<NA>,4.0,1.2,0.2,Iris-setosa
15,<NA>,4.4,1.5,0.4,Iris-setosa
16,<NA>,3.9,1.3,0.4,Iris-setosa
17,<NA>,3.5,1.4,0.3,Iris-setosa
18,<NA>,3.8,1.7,0.3,Iris-setosa
19,<NA>,3.8,1.5,0.3,Iris-setosa
20,<NA>,3.4,1.7,0.2,Iris-setosa
21,<NA>,3.7,1.5,0.4,Iris-setosa
22,<NA>,3.6,1.0,0.2,Iris-setosa
23,<NA>,3.3,1.7,0.5,Iris-setosa
24,<NA>,3.4,1.9,0.2,Iris-setosa
25,<NA>,3.0,1.6,0.2,Iris-setosa
26,<NA>,3.4,1.6,0.4,Iris-setosa
27,<NA>,3.5,1.5,0.2,Iris-setosa
28,<NA>,3.4,1.4,0.2,Iris-setosa
29,<NA>,3.2,1.6,0.2,Iris-setosa

### Step 7. Good, now lets substitute the NaN values to 1.0

In [21]:
iris.fillna(1,inplace=True)
iris[10:30]

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
10,1.0,3.7,1.5,0.2,Iris-setosa
11,1.0,3.4,1.6,0.2,Iris-setosa
12,1.0,3.0,1.4,0.1,Iris-setosa
13,1.0,3.0,1.1,0.1,Iris-setosa
14,1.0,4.0,1.2,0.2,Iris-setosa
15,1.0,4.4,1.5,0.4,Iris-setosa
16,1.0,3.9,1.3,0.4,Iris-setosa
17,1.0,3.5,1.4,0.3,Iris-setosa
18,1.0,3.8,1.7,0.3,Iris-setosa
19,1.0,3.8,1.5,0.3,Iris-setosa
20,1.0,3.4,1.7,0.2,Iris-setosa
21,1.0,3.7,1.5,0.4,Iris-setosa
22,1.0,3.6,1.0,0.2,Iris-setosa
23,1.0,3.3,1.7,0.5,Iris-setosa
24,1.0,3.4,1.9,0.2,Iris-setosa
25,1.0,3.0,1.6,0.2,Iris-setosa
26,1.0,3.4,1.6,0.4,Iris-setosa
27,1.0,3.5,1.5,0.2,Iris-setosa
28,1.0,3.4,1.4,0.2,Iris-setosa
29,1.0,3.2,1.6,0.2,Iris-setosa

### Step 8. Now let's delete the column class

In [22]:
iris.drop(['class'],axis=1,inplace=True)
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,5.1,3.5,1.4,0.2
1,4.9,3.0,1.4,0.2
2,4.7,3.2,1.3,0.2
3,4.6,3.1,1.5,0.2
4,5.0,3.6,1.4,0.2
...,...,...,...,...
145,6.7,3.0,5.2,2.3
146,6.3,2.5,5.0,1.9
147,6.5,3.0,5.2,2.0
148,6.2,3.4,5.4,2.3
149,5.9,3.0,5.1,1.8

### Step 9.  Set the first 3 rows as NaN

In [23]:
iris[:3] = pd.NA
iris[:4]

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,<NA>,<NA>,<NA>,<NA>
1,<NA>,<NA>,<NA>,<NA>
2,<NA>,<NA>,<NA>,<NA>
3,4.6,3.1,1.5,0.2

### Step 10.  Delete the rows that have NaN

In [24]:
iris.dropna(inplace=True)

### Step 11. Reset the index so it begins with 0 again

In [25]:
iris.reset_index(inplace=True,drop=True)
iris

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,4.6,3.1,1.5,0.2
1,5.0,3.6,1.4,0.2
2,5.4,3.9,1.7,0.4
3,4.6,3.4,1.4,0.3
4,5.0,3.4,1.5,0.2
...,...,...,...,...
142,6.7,3.0,5.2,2.3
143,6.3,2.5,5.0,1.9
144,6.5,3.0,5.2,2.0
145,6.2,3.4,5.4,2.3
146,5.9,3.0,5.1,1.8

### BONUS: Create your own question and answer it.
Describe the data

In [26]:
iris.describe()

,sepal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
count,147.0,147.0,147.0,147.0
unique,34.0,23.0,43.0,22.0
top,1.0,3.0,1.5,0.2
freq,20.0,25.0,14.0,25.0